:root {
    --background: #121213;
    --font: white;
    --color-absent: #3a3a3c;
    --color-present: #b59f3b;
    --color-correct: #538d4e;
    --color-keys: #86888a;
    --cell-height: 65px;
    --cell-gap: 3px;
    --key-height: 52px;
    --key-width: 42px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--background);
    color: var(--font);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    height: 100vh;
}

header {
    grid-column: 2 / 3;
    align-self: end;
}

/* suggestions */

div.ranked {
    grid-row: 2 / 3;
}

div.potential {
    grid-column: 3;
    grid-row: 2 / 3;
}


section {
    width: 100%;
    margin-top: 5%;
    display: grid;
    grid-gap: var(--cell-gap);
    align-items: start;
    justify-content: center;
}

div.solver span {
    display: grid;
    grid-template-columns: repeat(5, 2em);
    grid-template-rows: 2em;
    grid-gap: var(--cell-gap);
}

div.solver span mark {
    color: white;
    font-weight: 600;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-transform: capitalize;
}

div.hidden {
    opacity: 0;
    height: 0;
    pointer-events: none;
    position: absolute;
}

/* board */

div.board {
    align-self: center;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(6, var(--cell-height));
    grid-gap: var(--cell-gap);
}

div.board div.row {
    display: grid;
    grid-template-columns: repeat(5, var(--cell-height));
    grid-gap: var(--cell-gap);
}

div.board div.letter {
    /* width: var(--cell-height);
    height: var(--cell-height);
    margin: 0 var(--cell-gap) 0; */
    border: 2px solid var(--color-absent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--cell-height) * 0.65);
}

/* keyboard */

div.keyboard {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(4, var(--key-height));
    grid-gap: var(--cell-gap);
    justify-self: center;
}

div.keyboard div.row {
    display: flex;
    justify-content: center;
}

div.keyboard div.row div.key {
    background: var(--color-keys);
    border-radius: 5px;
    min-width: var(--key-width);
    margin: 0 calc(var(--cell-gap)/2) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.keyboard div.row div.func {
    padding: 0 4px 0;
}

/* color status */

div.row div.absent,
div.keyboard div.row div.key.absent,
mark.absent {
    background: var(--color-absent);
}

div.row div.present,
div.keyboard div.row div.key.present,
mark.present {
    background: var(--color-present);
    border-color: var(--color-present);
}

div.row div.correct,
div.keyboard div.row div.key.correct,
mark.correct {
    background: var(--color-correct);
    border-color: var(--color-correct);
}


/* toggle switch */
div.options {
    align-self: center;
}

div.options input {
    display: none;
}

label.switch {
    --width: 40px;
    --height: calc(var(--width)/2);
    --border-radius: calc(var(--height)/2);
}

.slider {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: var(--color-absent);
    display: inline-block;
    cursor: pointer;
    transition: 0.2s;
}

.slider::after {
    content: "";
    position: absolute;
    width: var(--height);
    height: var(--height);
    background: white;
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

input.switch__input:checked~.slider {
    background: var(--color-correct);
}

input.switch__input:checked~.slider::after {
    transform: translateX(var(--height));
}

/* media queries */

@media (max-width: 900px) {
    body {
        grid-template-columns: 1fr 1fr;
    }

    header {
        grid-column: span 2;
        grid-row: 1;
        align-self: end;
    }

    div.board {
        grid-column: span 2;
        grid-row: 2;
    }

    div.keyboard {
        grid-row: 3;
        grid-column: span 2;
    }

    div.options {
        grid-row: 4;
        grid-column: span 2;
    }

    div.ranked {
        grid-row: 5;
        grid-column: 1;
    }

    div.potential {
        grid-row: 5;
        grid-column: 2;
    }
}

@media(max-height: 700px) {
    :root {
        --cell-height: 55px;
    }
}

@media(max-height: 630px) {
    :root {
        --cell-height: 45px;
    }
}

@media(max-height: 570px) {
    :root {
        --cell-height: 35px;
    }
}